version: '3.3'

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command:
      - dev_appserver.py
      - app.yaml
      - --support_datastore_emulator=True
      - --storage_path=/storage
      - --host=0.0.0.0
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: .
        target: /go/${APP_PATH}
      - type: volume
        source: storage
        target: /storage
    working_dir: /go/${APP_PATH}

volumes:
  storage:
    driver: local
