version: '3.3'

services:

  app:
    build:
      context: ./app
      dockerfile: ../Dockerfile
    command:
      - dev_appserver.py
      - app/app.yaml
      - --support_datastore_emulator=True
      - --storage_path=/storage
      - --host=0.0.0.0
      - --admin_host=0.0.0.0
    environment:
      GOOGLE_PROJECT: ${GOOGLE_PROJECT}
      GOOGLE_CREDENTIALS: ./credentials.json
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: .
        target: /go/${APP_PATH}
      - type: volume
        source: storage
        target: /storage
    working_dir: /go/${APP_PATH}

volumes:
  storage:
    driver: local
