runtime: go
api_version: go1.9

handlers:
  - url: /.*
    script: _go_app

env_variables:
  DISCORD_TOKEN: BOT-TOKEN
  DISCORD_GUILD_IDS: GUILD-ID1,GUILD-ID2
  SLACK_WEBHOOK_URL: INCOMING-WEBHOOK-URL
